.details-container {
  .back-btn {
    font-size: 2rem;
  }
  .details {
    width: 85%;
    margin: 50px auto;
    img {
      width: 300px;
      object-fit: contain;
    }
    .details-info {
      width: 500px;
      // flex: 1;
      margin-inline-start: 30px;
    }
    .read-more {
      display: inline;
      cursor: pointer;
    }
  }
}
