.product-preview-container {
  text-align: center;
  >* {
    margin-block-end: 10px;
  }
  img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin-block-end: 5px;
    object-fit: cover;
    margin-block-end: 10px;
  }
}
