// COLOR PALETTE
$clr1: #FFFFFF; //text-color
$clr2: #1B2330; //background-color
$clr3: #2c3a50; //header color
$clr4: #f0decb;
$clr5: #fff;


// LAYOUT BREAKPOINTS
// $break-wide: 2000px;
$break-normal: 1200px;
$break-medium:900px;
$break-narrow: 700px;
$break-mobile: 550px;
